*{
    margin: 0;
}

body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "secundario principal principal"
    "rodape rodape rodape";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 170px auto auto auto;
}
/* Logotipo */

.logow{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 10px;
    margin-top: 5px;
}

/* Fim Logotipo */
header{
    grid-area: cabeca;
    background-color: rgb(0, 238, 255);
    position: relative;
}
aside{
    grid-area: secundario;
    background-color: rgb(186, 245, 255);
}
main{
    grid-area: principal;
    background-color: rgb(0, 140, 255);

}
footer{
    grid-area: rodape;
    background-color: rgb(69, 202, 255);
    position: relative;
}
@media only screen and (max-width: 800px) {
    body{
        grid-template-areas: 
        "cabeca"
        "secundario"
        "principal"
        "rodape";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.elementomae{
    justify-content:  space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
/* aqui configuro os cards */
.card{
    align-items: center;
    width: 300px;
    height: 310px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    transition: 1s;
}
/* Aqui faço a transição quando passar o mouse */
/* Inicio transição Card */
.card:hover{
    background-color: aquamarine;
}
.card img{
    width: 200px;
    height: 200px;
    justify-content: center;
    border-radius: 5px;
    margin:5px
}
.card a{
    background-color: rgb(9, 110, 31);
    text-decoration: none;
    color: black;
    border-radius: 5px;
    display: block;
    height: 20px;
    width: 120px;
    text-align: center;
    transition: 1s;
}
/* Aqui faço a transição quando passar o mouse */
/* Inicio transição botão Card */

.card a:hover{
    background-color: blanchedalmond;
}
/* Fim da transição botão card */

/* Aqui faço o NavBar */
header nav li{
    display: inline;
}

header nav{
    position: absolute;
    top: 20px;
    right: 40px;;
}

header nav a{
    text-decoration: none;
    color: black;
}
/* Aqui termina o NavBar */

/* Footer NavBar in */
footer nav li{
    display: inline;
    text-decoration: none;
}

footer nav a{
    text-decoration: none;
}
/* Footer NavBar out */
