*{
    margin: 0;
}

body{
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "secundario principal principal"
    "rodape rodape rodape";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 130px auto auto;
    background-color: rgb(0, 0, 0);
}
header{
    grid-area: cabeca;
    background-color: rgb(0, 174, 255);
    height: 130px;
}
aside{
    grid-area: secundario;
    background-color: rgb(68, 227, 255);
}
main{
    grid-area: principal;
    background-color: rgb(59, 72, 255);
    height: 700px;
}
footer{
    grid-area: rodape;
    background-color: rgb(0, 140, 255);
    height: 200px;
}
@media only screen and (max-width: 800px) {
body{
    grid-template-areas: 
    "cabeca"
    "secundario"
    "principal"
    "rodape";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.elementomae{
    height: 300px;
    justify-content:  space-around;
    border: 2px blue solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
/* aqui configuro os cards */
.card{
    align-items: center;
    width: 300px;
    height: 310px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.card img{
    width: 200px;
    height: 200px;
    justify-content: center;
    border-radius: 5px;
    margin:5px
}
.card a{
    background-color: rgb(9, 110, 31);
    text-decoration: none;
    color: black;
    border-radius: 5px;
    display: block;
    height: 20px;
    width: 120px;
    text-align: center;
    
}
.hnl{
    display: inline;
    margin: 10px;
}
nav li a{
    text-decoration: none;
    color: black;
    transition: 1s;
}
nav li a:hover{
    color: antiquewhite;
    background-color: black;
}
